<html>
    <body>

       <%= usuario.nombre %> 
       <%= usuario.documento %> 
       <%= usuario.direccion %> 
       <%= usuario.telefono %> 
       <%= usuario.correo %> 
       <%= usuario.rol %> 
       <%= usuario.facultad %> 
       <%= usuario.semestre%> 
       <%= usuario.programa%> 
      </body>
</html>

